
main {
    height: 2500px;
}

.header-footer-container {
    height: 130px;
    text-align: center;
    line-height: 130px;
    border: 1px solid grey;
}

.banner-carousel {
    margin: 0 5%;
}
.banner-carousel-image {
    max-width: 100%;
    height: auto;
}

#page-title {
    font-size: 1.8rem;
    text-align: center;
    margin: 3% auto;
    border-bottom: 1px solid grey;
}

.game-category-container {
    width: 90%;
    position: relative;
    margin: 3% 5%;
}

.category-page {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: cornsilk;
}

.game-category-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.game-category-item-name {
    color: black;
}

.prev, .next {
    cursor: pointer;
    font-size: 1.5em;
    color: lightgrey;
    
}

.prev:hover, .next:hover {
    color: black;
}

.slide-controls {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots {
    display: inline;
    text-align: center;
    position: relative;
    margin: 0 10px;
}

.dot {
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 0 2px;
}


















.items-count-and-sorting {
    height: 24px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-items-container {
    margin: 5%;
    padding: 3% 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
}

.item-img {
    width: 230px;
    border-radius: 20px;
}

.product-info {
    color:black;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .product-items-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 320px) {

    .product-items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}