header{
    background-color: white;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: "Pretendard-Regular" ;
}
.containers{
    display: flex;
    margin-left: 5%;
    /* margin-right: 5%; */
    padding: 40px 40px 160px;
}
.shoppingUl{
    list-style: none;
}
.shoppingUl > li{
    line-height: 18px;
    font-size: 15px;
    letter-spacing: -.15px;
    color: rgba(34,34,34,.5);
    margin-top: 12px;
}
.subTitle{
    line-height: 22px;
    margin-bottom: 12px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    letter-spacing: -.27px;
    font-weight: 700;
}
.subNav{
    float: left;
    width: 180px;
    margin-right: 20px;
}
.navName{
    line-height: 29px;
    padding-bottom: 30px;
    font-size: 24px;
    letter-spacing: -.36px;
    font-weight: 700;
    letter-spacing: -.15px;
}
.contentTitle{
    position: absolute;
    padding-bottom: 16px;
    border-bottom: 3px solid #222;
    display: flex;
    padding: 5px 0 6px;
    width: 60%;
}
.title{
    font-size: 24px;
    letter-spacing: -.36px;
}
.title > h3 {
    line-height: 29px;
    font-size: inherit;
}
.contentArea{
    /* margin-left: auto; */
    margin-right: auto;
    max-width: 1280px;
}

/* 아래서부터는 장바구니 */

.wish_products{
    
    margin-top: 70px;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.product_box{
    display: flex;
}
.img_box {
    border-radius: 10%;
    width: 100px;
    height: 100px;
}
.text_box{
    margin-left: 20px;
    /* display: flex;
    flex-direction: row; */
}
.btn_box{
    position: absolute;
}
.btn_box>button{
    width:200px;
    border-radius: 10%;
}
.right {margin-left: 1000px;}