@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: 'Pretendard-Regular';
}
.rightBar > *{
    font-size: 12px;
}
.containers{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    width: auto;
    max-width: 1280px;
    margin: auto;
}
.deliveryInfo > div > label{
    font-weight: 600;
    display: block;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.2px;
    color: rgb(17, 17, 17);
    margin-bottom: 8px;
}
.orderInfo > div > input{
    display: block;
    padding: 14px 16px 12px 16px;
    border-radius: 4px;
    border: solid 1px #ddd;
    padding: 16px 24px 14px;
    border-radius: 4px;
    border: solid 1px #ddd;
    width: calc(100% - 50px);
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -.2px;
    margin-bottom: 8px;
}
.deliveryInfo > div > input{
    display: block;
    padding: 14px 16px 12px 16px;
    border-radius: 4px;
    border: solid 1px #ddd;
    padding: 16px 24px 14px;
    border-radius: 4px;
    border: solid 1px #ddd;
    width: calc(100% - 50px);
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -.2px;
    margin-bottom: 8px;
}
.sectionHeader{
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -.3px;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px;
}
.sectionHeader2{
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -.3px;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.sectionBody > div > span{
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -.2px;
    color: #111;
}
.sectionBody > div > div {
    padding: 8px 0 8px 18px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -.2px;
    color: #4e4e4e;
}
.buy{

}
.dis{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.leftBar{
    width: 70%;
    box-sizing: border-box;
}
.rightBar{
    width: 40%;
    height: 600px;
    box-sizing: border-box;
    padding-left: 3%;
    position: sticky;
    top: 0px;
    left: 55%;
}
.cartStoreItem1, .checkoutOrderInfo2{
    padding: 0 1.428571428571429rem;
    border-radius: 8px;
    border: 1px solid #ededed;
    margin-bottom: 1.7rem;
}
.cartStoreItem_1 > div{
    height: 3.7rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4e4e4e;
}
.cartStoreItem_2 > div{
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 20px;
}
#buyBtn{
    margin-top: 10px;
    margin-bottom: 10%;
    width: 100%;
    border: none;
    z-index: 3;
    background-color: #111;
    color: #fff;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -.2px;
    text-align: center;
    border-radius: 8px;
}
.rightTitle{
    font-size: 26px;
    font-weight: 600;
    color: #111;
    margin: 20px 0 20px;
}
.pso_image{
}
.preShoppingOrderItem1{

}
.pso_info{
    vertical-align: middle;
}
.pso_name{
    font-size: 14px;
    font-weight: bold;
    /* margin-top: 15px; */
    margin-left: 35px;
}
.pso_1{
    display: flex;
    margin-bottom: 10px;

}
.pso_2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.pso_3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.orderInfo{
    color: #111;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 1rem;
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #4e4e4e;
}   
.orderAll > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}
.checkbox > div {
    padding-bottom: 10px;
}
.postAddress{
    padding: 14px 16px 12px 16px;
    border-radius: 4px;
    border: solid 1px #ddd;
    padding: 16px 24px 14px;
    font-size: 16px;
    width: 60%;
}
.postAddressSearch{
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 14px 16px 12px 16px;
    border-radius: 4px;
    border: solid 1px #ddd;
    padding: 16px 24px 14px;
    font-size: 14px;
    width: 30%;
}
.payment{
    display: flex;
    flex-wrap: wrap;

}
.payment > div > button{
    width: 30%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: white;
}
.pay{
    width: 30%;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: white;
}
.payment1, .payment2, .payment3{
    width: 100%;
}
.addColor{
    background-color: #111;
    color: white;
}
.removeColor{
    background-color: white;
    color: black;
}

input[type=checkbox]{
    accent-color: black;
    cursor: pointer;
    width: 13px;
    height: 13px;
}
/* 이미지 css */
.pso_image > img{
    width: 50px;
    height: 50px;
}
#btnCheck{
    background-color: black;
    color: white;
}
