@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 10px;
    font-family: 'Pretendard-Regular';
}

a {
    color: black;
    text-decoration: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.header {
    position: relative;
    width: auto;
    height: 72px;
    margin: auto 32px;
    padding: 0 80px;
}

.container {
    padding: 0;
}

.banner-carousel {
    margin: 0 5%;
}

.banner-carousel-image {
    max-width: 100%;
    height: auto;
}

.body {
    width: auto;
    height: 3000px;
    display: block;
    position: relative;
}

.mid-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.goods-list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 23.7%);
    grid-gap: 0;
    justify-content: space-between;
}

.goods-list-item {
    flex: 0 0 calc(25% - 10px);
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 215px;
}

.goods-list-games {
    position: relative;
    width: 100%;
    height: 64px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.goods-list-game {
    height: 64px;
    margin-right: 10px;
}

.goods-list-thumb {
    flex: 0 0 64px;
    top: 0;
    left: 0;
    width: 64px;
    min-width: 64px;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.goods-list-game-name {
    flex: 1;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: -.2px;
}

.goods-list-products {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 131px;
    margin-top: 5%;
}

.games-product-item {
    width: 48.8%;
}

.goods-img-bg-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

span.goods-img-bg-wrap::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.goods-img {
    object-fit: contain;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 6px;
}

.popular-goods {
    margin-bottom: 120px;
}

.popular-goods-list {
    height: calc(13.857142857142858rem * 2 + 16px);
    position: relative;
}

.popular-goods-list-wrapper {
    left: calc(-100vw / 2 + 50%);
    overflow: hidden;
}

.popular-goods-list-top {
    margin: 0 -85.71428571428571rem 16px;
}

.popular-goods-wrapper {
    will-change: transform;
    display: flex;
}

.popular-goods-wrapper-top {
    animation: leftMoveLoop 90s infinite linear;
}

.popular-goods-wrapper-top:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.popular-goods-items {
    display: flex;
    width: auto;
}

.popular-goods-item {
    width: 13.857142857142858rem;
    height: 13.857142857142858rem;
    border-radius: 4.285714285714286rem;
    margin: 0 0.5714285714285714rem;
    overflow: hidden;
    flex-shrink: 0;
}

.popular-goods-item img {
    width: 100%;
}

.popular-goods-list-bottom {
    margin: 0 -85.71428571428571rem 16px;
}

.popular-goods-wrapper-bottom {
    animation: rightMoveLoop 90s infinite linear;
}

.popular-goods-wrapper-bottom:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes leftMoveLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-450rem));
    }
}

@keyframes rightMoveLoop {
    0% {
        transform: translateX(-450rem);
    }

    100% {
        transform: translateX(0);
    }
}

.goods-wrapper {
    will-change: transform;
    display: flex;
}

.goods-items {
    display: flex;
    width: auto;
    max-width: 179px;
}

.popular-goods .goods-list-item {
    padding: 10px;
    box-sizing: border-box;
    width: 179px;
    height: 179px;
    border-radius: 4.285714285714286rem;
    margin: 0 0.5714285714285714rem;
    overflow: hidden;
    flex-shrink: 0;
}

@media screen and (max-width: 992px) {
    .goods-list {
        overflow-x: auto;
        display: flex;
    }

    .goods-list-item {
        width: 100%;
        /* display: flex; */
        align-items: center;
        margin: 10px;
    }

    .goods-list-games {
        flex: 0 0 64px;
    }

    .goods-list-game-name {
        padding: 0 10px;
    }

    .popular-goods-list-top {
        margin: 0 0 16px;
    }

    .popular-goods-wrapper-top {
        animation: none;
        overflow-x: scroll;
    }

    .popular-goods-wrapper-top::-webkit-scrollbar {
        display: none;
    }

    .popular-goods-list-bottom {
        margin: 0 0 16px;
    }

    .popular-goods-wrapper-bottom {
        animation: none;
        overflow-x: scroll;
    }

    .popular-goods-wrapper-bottom::-webkit-scrollbar {
        display: none;
    }


    .popular-goods-item {
        width: 7rem;
        height: 7rem;
    }
}

@media screen and (max-width : 768px) {
    .container {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    .goods-list-games {
        height: 64px;
        margin: 5%;
        display: flex;
        justify-content: center;
    }

    .popular-goods-item img {
        width: 100%;
    }
}

/* Footer */

.footer {
    max-width: 1280px;
    margin: auto;
}

.footerDiv {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}

.footer_ul>li {
    padding-right: 16px;
}

.blank {
    margin-right: 17px;
    box-sizing: border-box;
}

dl>.dt_title {
    padding-left: 10px;
    max-width: 700px;
    float: left;
    line-height: 20px;
    font-size: 13px;
    color: rgba(34, 34, 34, .5);
}

.div_sns {
    padding-right: 5%;
}

.footer_ul {
    list-style: none;
    padding-left: 10px;
}

a {
    text-decoration: none;
}