@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
html { font-family: 'Inter var', sans-serif; }
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: 'Pretendard-Regular';
}
body{
    margin: 0px;
    font-weight: 600;
}
/* div.header{
    display: flex; 
    justify-content: space-between;
} */
.left{
    width: 50%;

    /* height: 1000px; */
    box-sizing: border-box;

}
.right{
    width: 40%;
    height: 600px;
    box-sizing: border-box;
    padding-left: 3%; 
    padding-top : 2%;
    position: sticky;
    top: 0px;
    left: 55%;
}
.content{
    display: flex;
    width: auto;
    max-width: 1280px;
    min-width: 450px;
    margin: auto;
    position: relative;
}
.radioOption{
    padding-top: 20px;
}
.radioOption > input{
    width: 30px; height: 30px;
    padding-left: 10%;
    
}
/*라디오 버튼 색상 밑에 텍스트*/
.radioColor{
    padding-bottom: 20px;
}
.radioColor > span{
    padding-left: 3px;
}

.box{  
    display: flex;
    width: 50px;
    height: 50px;
    background: #f8f8f8;
    color: black;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
 .box:hover, .box.active {
    border: 3px solid #000;
 }

 /* 품절일 때 class 추가 */
 .no{
    color: #838383;
    border: 0px;      
    display: flex;
    width: 50px;
    height: 50px;
    background: #f8f8f8;
    align-items: center;
    justify-content: center;
    cursor: none;
 }
 .no:hover, .no.active{
    border : 0px;
    cursor: default;
 } 

 /*sub에 품절 메세지*/
 .sub{
    color: #838383;
    text-align: center;
 }
.size{
     display: flex;
     margin-right: 15px;
    flex-wrap: wrap;
    font-weight: 600;
}
.size > div{
 margin-right: 15px;
  }
.counter{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.counterOption{
    display: flex;
    justify-content: space-between;
}
div.counterButton > button{
    width: 26px;
    height: 26px;
}
div.divider{
    display: flex;
    width: 100%;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.stPadding > {
     padding-top : 20px;
}
.counterButton{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counterButton > button{
    background-color: rgb(227, 226, 226);
    border: 0px;
}
.choose{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;

}
.choose > button{
    border-radius: 5px;
    width: 45%;
    height: 40px;
}
#cart{
    border: solid 1px #ddd;
    background: #fff;
    color: #111;
}
#payment{
    border: solid 1px #111;
    background-color: #111;
    color: #fff;
}
.option1{
    padding-left: 13px;
}
.options1{
    border: 0; 
    width: 50px; 
    padding-left: 5px; 
    font-weight: bold;
}
.options2{
    border: 0; 
    width: 50px; 
    padding-left: 5px; 
    font-weight: bold;
}

i, a{
    cursor: pointer;
}


/*
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 탭 1번 추가----------
*/

    /* 탭 2번 css */
.tabmenu{ 
    max-width:600px; 
    margin: 0 auto; 
    position:relative; 
}
.tabmenu ul{
  position: relative;
}
.tabmenu ul li{
    display:block;
    width: 33.33%; 
    float:left;
    text-align:center; 
    background :#f9f9f9;
    line-height:40px;
}
.tabmenu label{
    display:block;
    width:100%; 
    height:40px;
    line-height:40px;
}
.tabmenu input{
    display:none;
}
.tabCon{
    display:none; 
    width: 100%;
    text-align:left; 
    padding: 20px;
    position:absolute; 
    left:0; top:40px; 
    box-sizing: border-box; 
    border : 5px solid #f9f9f9;
}
.tabmenu input:checked ~ label{
    background:#ccc;
}
.tabmenu input:checked ~ .tabCon{
    display:block;
}


    /* 탭 2번 css */
.tabmenu_2{ 
    max-width:600px; 
    margin: 0 auto; 
    position:relative; 
}
.tabmenu_2 ul{
    position: relative;
}
.tabmenu_2 ul li{
    display:  inline-block;
    width: 33.33%; 
    float:left;
    text-align:center; 
    background :#f9f9f9;
    line-height:40px;
}
.tabmenu_2 label{
    display:block;
    width:100%; 
    height:40px;
    line-height:40px;
}
.tabmenu_2 input{
    display:none;
}
.tabCon_2{
    display:none; 
    width: 100%;
    text-align:left; 
    padding: 20px;
    position:absolute; 
    left:0; top:40px; 
    box-sizing: border-box; 
    border : 5px solid #f9f9f9;
}
.tabmenu_2 input:checked ~ label{
    background:#ccc;
}
.tabmenu_2 input:checked ~ .tabCon_2{
    display:block;
}

/* display :none */
.disp{
    display: none;
}


/* 택배 정보*/
.delivery > *{
    color: black;
}
/*제일 하단(footer)*/
.footer{
    max-width: 1280px;
    margin: auto;
}
.footerDiv{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}
.footer_ul > li{
    padding-right: 16px;
}
.footer_ul
{
      list-style:none;
      padding-left: 10px;
}
.blank{
    margin-right: 17px;
    box-sizing: border-box;
}   

.divDl > .dt_title{

    padding-left: 10px;
    max-width: 700px;
    float: left;
    line-height: 20px;
    font-size: 13px;
    color: rgba(34,34,34,.5);
}
.div_sns{
    padding-right: 5%;
}

.deliveryDate, .deliveryInfo{
    margin-top: 30px;
    margin-bottom: 20px;
}
.deliveryDate{
    display: flex;
}
.deliveryInfo{
    display: flex;
    flex-direction: row;
}
.delColor{
    color: #828282;
    margin-right: 10px;
}
.delPrice{
    display: flex;
    flex-wrap: wrap;
}
.delPrice, .delGo1{
    width: 250px;
}
/*주문 날짜 input 값*/
.getDay, .getNextDay{
    border: 0px;
    width: 32px;
    color: red;
    font-weight: bold;
}

.sectionHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 64px 0 20px;
}
/* 탭 부분 */
details{
    position: relative;
}
/* 탭끝 */
/* 상품정보 */
.productDetail{
    text-align: center;
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}

/* 체크 늘리는거 */
.rela1{
    position: absolute;
    bottom: 300px;
    right: 5%;
    left: auto;
    top: auto;
}

@media screen and (max-width:580px){
    .content{
        width: auto;
        height: auto;
        position: relative;
        display : flex;
        flex-direction: column;
        /* max-width: 1280px; */
        margin: 30px 40px 120px;
    }

    .left{
        width: auto;
        height: auto;
        /* border: 1px solid #000000; */
        float: none;
        box-sizing: border-box;
        position:relative;

    }
    div.right{
        width: auto;
        height: 1000px;
        float: right;
        box-sizing: border-box;
        padding-left: 3%;
        padding-top : 2%;
        position: relative;
        left: auto;
    }
    /* 줄어들면 탭 안보이게 하기 */

    .productImg{

        display: none;
    }

    .disp{
        display: block;
    }

    /*수량*/
    .counterButton{
        margin-right: 10%;
    }
    /*금액*/
    #price{
        margin-right: 10%;
    }
    /*수량, 금액 사이*/
    div.divider{
        display: flex;
        width: 90%;
        border: 1px solid gray;
        margin-top: 20px;
        margin-bottom: 20px;
        /* margin-left: 25px; */
        justify-content: center;
    }
    .choose > button{
        border-radius: 5px;
        width: 45%;
        height: 40px;
    }
    .choose{
        justify-content: flex-start;
    }

/*media 끝*/
/*
할거
1. 탭 메뉴 다시 만들기
2. 화면 줄였을 때 탭 메뉴 제일 아래로 갈 수 있게 만들기
3. 하단바 만들기
4. 상단바 통일
5. 금액 연동
6. 상품설명 추가
7. 색상버튼 밑에 무슨색인지 텍스트 추가
8. 사이즈 눌렀을 때 색 바뀌기
9. 사이즈 품절일 때 x표시 나오고 클릭 안되게
*/
}
