header{
    background-color: white;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: "Pretendard-Regular" ;
}
.containers{
    display: flex;
    margin-left: 5%;
    /* margin-right: 5%; */
    padding: 40px 40px 160px;
}
.shoppingUl{
    list-style: none;
}
.shoppingUl > li{
    line-height: 18px;
    font-size: 15px;
    letter-spacing: -.15px;
    color: rgba(34,34,34,.5);
    margin-top: 12px;
}
.titleLine{
    width: 100%;
}
.subTitle{
    line-height: 22px;
    margin-bottom: 12px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    letter-spacing: -.27px;
    font-weight: 700;
}
.subNav{
    float: left;
    width: 180px;
    margin-right: 20px;
}
.navName{
    line-height: 29px;
    padding-bottom: 30px;
    font-size: 24px;
    letter-spacing: -.36px;
    font-weight: 700;
    letter-spacing: -.15px;
}
.contentTitle{
    position: absolute;
    padding-bottom: 16px;
    border-bottom: 3px solid #222;
    display: flex;
    padding: 5px 0 6px;
    width: 60%;
}
.title{
    font-size: 24px;
    letter-spacing: -.36px;
}
.title > h3 {
    line-height: 29px;
    font-size: inherit;
}
.contentArea{
    /* margin-left: auto; */
    margin-right: auto;
    width: 100%;
    max-width: 1280px;
}

/* 아래서부터는 장바구니 */

.wish_products{
    width: 60%;
    margin-top: 70px;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.product_box{
    position: relative;
    display: flex;
}
.img_box {
    border-radius: 10%;
    width: 100px;
    height: 100px;
}
.text_box{
    margin-left: 20px;
    /* display: flex;
    flex-direction: row; */
}
.btn_box{
    top:20px;
    position: absolute;
}
.btn_box>button{
    width:175px;
    border-radius: 10%;
}
.prices{
    display: none;
}
.right {margin-left: 80%;}

.footer{
    max-width: auto;
    margin: auto;
}
.footerDiv{
    max-width: auto;
    display: flex;
    justify-content: space-between;
}
.footer_ul > li{
    padding-right: 16px;
}
.blank{
    margin-right: 17px;
    box-sizing: border-box;
}   
dl > .dt_title{
    padding-left: 10px;
    max-width: auto;
    float: left;
    line-height: 20px;
    font-size: 13px;
    color: rgba(34,34,34,.5);
}
.div_sns{
    padding-right: 5%;
}
.footer_ul
{
      list-style:none;
      padding-left: 10px;
}



@media screen and (max-width : 1300px) {
    .btn_box> button{
        width:100px;
    }
    .desc{
        display: none;
    }

}

@media screen and (max-width : 1000px) {
    .subNav{
        display: none;
    }
    .wish_products{
        padding-left: 0;
    }
    .informs{
        display: none;
    }
    .price{
        display: none;
    }
    .desc{
        display: none;
    }
    .btn_box{
        top: 30px;
    }
    .btn_box> button{
        width:70px;
    }
    .prices{
        display: block;
    }

}



@media screen and (max-width : 768px) {
    .subNav{
        display: none;
    }
    .wish_products{
        padding-left: 0;
    }
    .informs{
        display: none;
    }
    .price{
        display: none;
    }
    .desc{
        display: none;
    }
    .btn_box{
        top: 30px;
    }
    .btn_box> button{
        width:70px;
    }
    .prices{
        display: block;
    }

}