.container {
    width: 100vw;
    margin-left: 5% ;
    margin-right: 5%;
}

/* hover되었을 떄 클래스들 pointer 변경 */
.Goods > span:hover {
    cursor: pointer;
}
.slide:hover{
    cursor: pointer;
}
.typeButtonGroup > li:hover{
    cursor: pointer;
}
.red {
    color: red;
}
/* a에서 font 스타일 바뀌는 거 방지 */
a {
    text-decoration: none;
}   
/* 버튼 클래스들 전부 해당속성 적용 */
.buttonClass {
    height: 70%;
    border-radius: 0%;
    background-color: ghostwhite;
    color: rgba(0, 0, 0, 0.7); 
    line-height: 70%;
    margin-right: 0;
    padding-right: 0;
}

/* ul리스트, grid적용 4x2 */
.typeButtonGroup {
    padding-left:0;
    margin-left:0;
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-column-gap: 8px;
    column-gap: 8px;
    grid-row-gap: 28px;
    row-gap: 28px; 
    /* li앞에 붙는 *제거 */
    list-style-type: none;
    margin-bottom: 10pt;
} 

/* li에 border 적용하기 */
/* 그림 아래 있는 txt */
.littleBorderButton {
    text-align: center;
    margin-top: 10pt;
    margin-bottom: 10pt;
}
/* 뭔가 하려다가 아래에 컨테이너를 하나 더 넣었음 */
.typeGoodsGroup {
    display: block;

}
/* 여기에 space-betwewen, flex-start 적용 정렬, wrap 적용 */
/* .typeGoodsList {
    margin-left: 10pt;
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
    align-items: flex-start;
} */

.typeGoodsList {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-column-gap: 8px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    grid-row-gap: 28px;
    row-gap: 28px;
    
} 

/* 굿즈에 반응형 */
.Goods {
    position: relative;
}
/* 이미지에 크기 */
.Goods > a > img {
    max-width: 100%;
}
/* 좋아요 버튼(장바구니)에 z-idx, absolute적용 */
.Goods > i {
    position: absolute;
    width: 10pt;
    top: 3pt;
    right: 10pt;
    z-index: 1;
}
.Goods > a > div{
    padding-left: 16pt;
    color: black;
}
.Goods div:nth-child(2){
    font-weight: bold;
}
.moreBtnContainer {
    text-align: center;
}
.moreBtn {
    border: none;
}
        /* 크기 조건 max, max-width,/min-height
    max-width : 오른쪽에 나온숫자 값 이하일 떄 적용하는 그래픽
    min-width : width가 오른쪽 이상일때 적용하는 그래픽
*/
/* 더보기 버튼을 위해서 없앴음. 나중에 봐야하면 display : block */
.typeGoodsList > div:nth-child(n+5){
    display  : none;
}

 /*제일 하단(footer)*/

 .footer{
    max-width: 1280px;
    margin: auto;
}
.footerDiv{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}
.footer_ul > li{
    padding-right: 16px;
}
.blank{
    margin-right: 17px;
    box-sizing: border-box;
}   
dl > .dt_title{
    padding-left: 10px;
    max-width: 700px;
    float: left;
    line-height: 20px;
    font-size: 13px;
    color: rgba(34,34,34,.5);
}
.div_sns{
    padding-right: 5%;
}
.footer_ul
{
      list-style:none;
      padding-left: 10px;
}

/*  */

@media screen and (max-width : 768px) {
.container {
    margin-left: 0 ;
    margin-right: 0;
    max-width: 100%;
}
.typeGoodsList{
    grid-template-columns: repeat(3,minmax(0,1fr));
}

.Goods > a > img {
    width: 250px;
    height: 250px;
}
}
@media screen and (max-width : 568px) {
.container {
    max-width: 100%;
    margin-left: 0 ;
    margin-right: 0;
}
.typeButtonGroup > li > div {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.typeGoodsList{
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.littleBorderButton {
    width: 90px;
    text-align: center;
    margin-top: 5pt;
    margin-bottom: 0;
}

.Goods > a > img {
    width: 200px;
    height: 200px;
}
}


